body{
    background-color: blanchedalmond;
}

.main{
    color: brown;
}

.heading{
    color: olive;
    text-align: center;
}

.ingredients{
    color: olive;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 20px;
}


.ingredients-table {
    color: olive;
    border: 1px solid black;
    margin-left: 10rem;

}

.instructions {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;

}

.image {
    width: 475px;
    height: 8px; ;
    margin: 0 auto;
}

.instructions ol {
    border: 1px solid orange;
    margin: 0 auto;
    width: 75%;
}

.footer {
    color: peru;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2rem;
}